In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import requests
from sklearn.neighbors import NearestNeighbors
import os

In [2]:
def get_missing(df):
    missing = (~df.fillna(0).astype(bool)).sum()/df.shape[0]
    return missing

def get_keys(df, match):
    return [key for key in df.keys() if match.lower() in key.lower()]
  
def drop_keys(df, keys):
    return df.drop(columns=keys)

In [3]:
path_folder = '../../data/'
file_county = 'RECleaned_CountyData2.csv'
data_county = pd.read_csv(os.path.join(path_folder, file_county))
print(data_county.shape)
data_county.head()

(104151, 580)

,year,id,name,population,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,property_tax,...,sewerage_current_exp,sw_mgmt_current_exp,water_trans_current_exp,general_nec_current_exp,liquor_stores_current_exp,total_util_current_exp,water_util_current_exp,elec_util_current_exp,gas_util_current_exp,trans_util_current_exp
0,2016,11002002,BALDWIN COUNTY,203709,108855,90526,108855,90526,58300,31991,...,0,9954,0,5583,0,2708,0,0,0,2708
1,2016,11005005,BLOUNT COUNTY,57673,13019,8801,13019,8801,8589,6282,...,0,243,0,0,0,0,0,0,0,0
2,2016,11008008,CALHOUN COUNTY,115620,44992,29859,44992,29859,17424,10792,...,0,2543,0,0,0,0,0,0,0,0
3,2016,11010010,CHEROKEE COUNTY,25859,30577,24749,30577,24749,9248,3484,...,0,0,0,197,0,0,0,0,0,0
4,2016,11015015,CLEBURNE COUNTY,15018,7925,4507,7925,4507,2371,1252,...,0,162,0,862,0,0,0,0,0,0

In [4]:
missing = get_missing(data_county)
display(missing.describe())
missing[missing<0.5].count()

count    580.000000
mean       0.752665
std        0.326066
min        0.000000
25%        0.614567
50%        0.929828
75%        0.992672
max        1.000000
dtype: float64

123

In [5]:
mapping_id_name_county = data_county[['id', 'name']].drop_duplicates()
mapping_id_name_county.head()

         id             name
0  11002002   BALDWIN COUNTY
1  11005005    BLOUNT COUNTY
2  11008008   CALHOUN COUNTY
3  11010010  CHEROKEE COUNTY
4  11015015  CLEBURNE COUNTY

In [6]:
mapping_id_name_county.shape[0] == mapping_id_name_county['id'].drop_duplicates().shape[0]

False

In [8]:
temp = list(set(mapping_id_name_county.index) - set(mapping_id_name_county['id'].drop_duplicates().index))
duplicate_ids = mapping_id_name_county.loc[temp]['id'].drop_duplicates()
print(duplicate_ids)

16737     191048046
21089     101013013
21217     141019019
21219     141022022
102342     21028028
16462     141050050
12239     421057057
22391     441079079
13180     191030029
Name: id, dtype: int64

In [9]:
locations = requests.get("http://54.153.74.217:8080/api/location/all")
locations = locations.json()['data']
locations = pd.DataFrame(locations)
locations.head()

,fips_code_state,fips_county,fips_place,fyenddate,id,latitude,longitude,name,parent_id,type_code
0,19,115.0,15420.0,1231.0,162058002,41.279996,-91.360819,COLUMBUS JUNCTION CITY,161058058,2
1,19,131.0,59745.0,1231.0,162066005,43.284081,-92.811162,OSAGE CITY,161066066,2
2,19,133.0,6940.0,1231.0,162067001,41.930266,-96.080848,BLENCOE CITY,161067067,2
3,19,141.0,76485.0,1069.0,162071009,42.974143,-95.497506,SUTHERLAND CITY,161071071,2
4,19,141.0,70410.0,1231.0,162071007,43.181642,-95.655567,SANBORN CITY,161071071,2

In [10]:
change_names = {}
invalid_ids = []
for id_ in duplicate_ids:
    if locations[locations['id']==id_].shape[0]==1:
        name = locations[locations['id']==id_]['name'].values[0]
        if id_ in change_names.keys():
            print('Duplicate ID', id_,  'inside \'duplicate_ids\'')
        change_names[id_] = name
    else:
        invalid_ids.append(id_)

In [11]:
invalid_ids

[]

In [12]:
change_names

{21028028: 'SKAGWAY BOROUGH',
 101013013: 'MIAMI-DADE COUNTY',
 141019019: 'DEKALB COUNTY',
 141022022: 'DUPAGE COUNTY',
 141050050: 'LASALLE COUNTY',
 191030029: 'LASALLE PARISH',
 191048046: 'ST JOHN THE BAPTIST PARISH',
 421057057: 'OGLALA LAKOTA COUNTY',
 441079079: 'FORT BEND COUNTY'}

In [14]:
invalid_ids = []
for id_ in data_county['id'].drop_duplicates():
    temp = data_county[data_county['id']==id_]['year']
    if temp.shape[0] != temp.drop_duplicates().shape[0]:
        l.append(id_)
invalid_ids

[]

In [15]:
for id_ in duplicate_ids:
    data_county.loc[data_county['id']==id_, 'name'] = change_names[id_]

In [16]:
mapping_id_name_county = data_county[['id', 'name']].drop_duplicates()
print(mapping_id_name_county.shape[0] == mapping_id_name_county['id'].drop_duplicates().shape[0])
mapping_id_name_county

True

               id                            name
0        11002002                  BALDWIN COUNTY
1        11005005                   BLOUNT COUNTY
2        11008008                  CALHOUN COUNTY
3        11010010                 CHEROKEE COUNTY
4        11015015                 CLEBURNE COUNTY
5        11017017                  COLBERT COUNTY
6        11018018                  CONECUH COUNTY
7        11022022                  CULLMAN COUNTY
8        11023023                     DALE COUNTY
9        11024024                   DALLAS COUNTY
10       11025025                  DE KALB COUNTY
11       11028028                   ETOWAH COUNTY
12       11030030                 FRANKLIN COUNTY
13       11035035                  HOUSTON COUNTY
14       11037037                JEFFERSON COUNTY
15       11039039               LAUDERDALE COUNTY
16       11040040                 LAWRENCE COUNTY
17       11042042                LIMESTONE COUNTY
18       11045045                  MADISON COUNTY
19       11049049                   MOBILE COUNTY
20       11050050                   MONROE COUNTY
21       11051051               MONTGOMERY COUNTY
22       11052052                   MORGAN COUNTY
23       11053053                    PERRY COUNTY
24       11054054                  PICKENS COUNTY
25       11058058                 ST CLAIR COUNTY
26       11059059                   SHELBY COUNTY
27       11061061                TALLADEGA COUNTY
28       11062062               TALLAPOOSA COUNTY
29       11063063               TUSCALOOSA COUNTY
...           ...                             ...
10772   501070070                 WAUSHARA COUNTY
18382   111152152                  WEBSTER COUNTY
18764   171036036                  GREELEY COUNTY
27848   111026026            CHATTAHOOCHEE COUNTY
27938   111118118                  QUITMAN COUNTY
28476   181056056                JEFFERSON COUNTY
32592   221002002                BERKSHIRE COUNTY
34382   221005005                    ESSEX COUNTY
34383   221008008                HAMPSHIRE COUNTY
35947   221007007                  HAMPDEN COUNTY
35951   221014012                WORCESTER COUNTY
37869   171105105                WYANDOTTE COUNTY
38093   221006006                 FRANKLIN COUNTY
38096   221009009                MIDDLESEX COUNTY
39364   431085085                TROUSDALE COUNTY
41760   111121121                 RICHMOND COUNTY
42069   191028027                LAFAYETTE PARISH
51746   111029029                   CLARKE COUNTY
60763   431064064                    MOORE COUNTY
62459   191055053               TERREBONNE PARISH
84600   271012012               DEER LODGE COUNTY
84621   271047047               SILVER BOW COUNTY
85128   421066066               WASHABAUGH COUNTY
88574    21027026  GREATER ANCHORAGE AREA BOROUGH
89078   181034034                  FAYETTE COUNTY
90104   471062062                NANSEMOND COUNTY
93730    21029029           GREATER SITKA BOROUGH
93966   111106106                 MUSCOGEE COUNTY
94726   291013013                   ORMSBY COUNTY
102697  151049049                   MARION COUNTY

[3061 rows x 2 columns]

In [17]:
data_county = data_county.drop(columns=['name'])
data_county.head()

,year,id,population,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,property_tax,tot_sales___gr_rec_tax,...,sewerage_current_exp,sw_mgmt_current_exp,water_trans_current_exp,general_nec_current_exp,liquor_stores_current_exp,total_util_current_exp,water_util_current_exp,elec_util_current_exp,gas_util_current_exp,trans_util_current_exp
0,2016,11002002,203709,108855,90526,108855,90526,58300,31991,23256,...,0,9954,0,5583,0,2708,0,0,0,2708
1,2016,11005005,57673,13019,8801,13019,8801,8589,6282,1891,...,0,243,0,0,0,0,0,0,0,0
2,2016,11008008,115620,44992,29859,44992,29859,17424,10792,5939,...,0,2543,0,0,0,0,0,0,0,0
3,2016,11010010,25859,30577,24749,30577,24749,9248,3484,5624,...,0,0,0,197,0,0,0,0,0,0
4,2016,11015015,15018,7925,4507,7925,4507,2371,1252,1056,...,0,162,0,862,0,0,0,0,0,0

In [18]:
missing = get_missing(data_county)
display(missing.describe())
missing[missing<0.5].count()

count    579.000000
mean       0.753965
std        0.324840
min        0.000000
25%        0.625078
50%        0.929977
75%        0.992689
max        1.000000
dtype: float64

122

In [19]:
data_county.shape

(104151, 579)

In [20]:
bad_rows = ((~data_county.astype(bool)).sum(axis=1))/data_county.shape[1]
bad_rows = bad_rows[bad_rows>0.9]
bad_rows = bad_rows.index
bad_rows

Int64Index([   322,    333,    370,    379,    579,    744,    749,    966,
               994,   1037,
            ...
            100264, 100510, 101299, 101332, 102120, 102213, 102224, 102987,
            103190, 103977],
           dtype='int64', length=740)

In [21]:
data_county = data_county.drop(index=bad_rows)
print(data_county.shape)
data_county.head()

(103411, 579)

,year,id,population,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,property_tax,tot_sales___gr_rec_tax,...,sewerage_current_exp,sw_mgmt_current_exp,water_trans_current_exp,general_nec_current_exp,liquor_stores_current_exp,total_util_current_exp,water_util_current_exp,elec_util_current_exp,gas_util_current_exp,trans_util_current_exp
0,2016,11002002,203709,108855,90526,108855,90526,58300,31991,23256,...,0,9954,0,5583,0,2708,0,0,0,2708
1,2016,11005005,57673,13019,8801,13019,8801,8589,6282,1891,...,0,243,0,0,0,0,0,0,0,0
2,2016,11008008,115620,44992,29859,44992,29859,17424,10792,5939,...,0,2543,0,0,0,0,0,0,0,0
3,2016,11010010,25859,30577,24749,30577,24749,9248,3484,5624,...,0,0,0,197,0,0,0,0,0,0
4,2016,11015015,15018,7925,4507,7925,4507,2371,1252,1056,...,0,162,0,862,0,0,0,0,0,0

In [22]:
missing = get_missing(data_county)
display(missing.describe())
missing[missing<0.5].count()

count    579.000000
mean       0.752741
std        0.326123
min        0.000000
25%        0.622724
50%        0.929476
75%        0.992641
max        1.000000
dtype: float64

122

In [23]:
good_attributes = missing[missing<0.5].index
good_attributes

Index(['year', 'id', 'population', 'total_revenue', 'total_rev_own_sources',
       'general_revenue', 'gen_rev_own_sources', 'total_taxes', 'property_tax',
       'tot_sales___gr_rec_tax',
       ...
       'total_highways_current_exp', 'regular_hwy_current_exp',
       'libraries_current_exp', 'natural_res_current_exp',
       'parks___rec_current_exp', 'police_prot_current_exp',
       'public_welf_current_exp', 'welf_nec_current_exp',
       'sw_mgmt_current_exp', 'general_nec_current_exp'],
      dtype='object', length=122)

In [25]:
data_county = data_county[good_attributes]
print(data_county.shape)
data_county.head()

(103411, 122)

,year,id,population,total_revenue,total_rev_own_sources,general_revenue,gen_rev_own_sources,total_taxes,property_tax,tot_sales___gr_rec_tax,...,total_highways_current_exp,regular_hwy_current_exp,libraries_current_exp,natural_res_current_exp,parks___rec_current_exp,police_prot_current_exp,public_welf_current_exp,welf_nec_current_exp,sw_mgmt_current_exp,general_nec_current_exp
0,2016,11002002,203709,108855,90526,108855,90526,58300,31991,23256,...,13257,13257,91,0,1234,11614,470,470,9954,5583
1,2016,11005005,57673,13019,8801,13019,8801,8589,6282,1891,...,6152,6152,0,0,482,4532,366,366,243,0
2,2016,11008008,115620,44992,29859,44992,29859,17424,10792,5939,...,10845,10845,0,0,431,13165,96,96,2543,0
3,2016,11010010,25859,30577,24749,30577,24749,9248,3484,5624,...,7918,7918,134,10,185,3344,13511,159,0,197
4,2016,11015015,15018,7925,4507,7925,4507,2371,1252,1056,...,2127,2127,0,40,0,1005,56,56,162,862

In [26]:
missing = get_missing(data_county)
display(missing.describe())
missing[missing<0.5].count()

count    122.000000
mean       0.178327
std        0.167064
min        0.000000
25%        0.015513
50%        0.128246
75%        0.283669
max        0.491718
dtype: float64

122

In [27]:
data_county.to_csv(os.path.join(path_folder, 'RECleaned_CountyData3.csv'))

In [63]:
def convert_to_pivot(data):
    pivoted = pd.pivot_table(data,
                             index='id', 
                             columns='year', 
                             values=list(set(data.keys())-set(['year', 'id'])))

    keys = list(set([key[0] for key in pivoted.keys()]))
    for i, key in enumerate(keys, 1):
        pivoted[key].iloc[:, 0] = pivoted[key].iloc[:, 0].fillna(0)
        pivoted[key].iloc[:, -1] = pivoted[key].iloc[:, -1].fillna(0)
        pivoted[key] = pivoted[key].interpolate(axis=1)
        print(np.round(i/len(keys)*100), '%', end='\r')

    return pivoted

# def convert_to_pivot2(data):
#     pivoted = pd.pivot_table(data,
#                              index='id', 
#                              columns='year', 
#                              values=list(set(data.keys())-set(['year', 'id'])))

#     keys = list(set([key[0] for key in pivoted.keys()]))
#     for i, key in enumerate(keys, 1):
#         pivoted[key].iloc[:, 0] = pivoted[key].iloc[:, 0].fillna(0)
#         pivoted[key].iloc[:, -1] = pivoted[key].iloc[:, -1].fillna(0)
#         print(np.round(i/len(keys)*100), '%', end='\r')
    
#     pivoted = pivoted.interpolate(axis=1)
#     return pivoted

In [57]:
%%time
temp1 = convert_to_pivot(data_county)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:630: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

Wall time: 31.5 s % % % % % % % % % % % % % % % % % % % % % % % % % % % % % % % %

In [58]:
%%time
temp2 = convert_to_pivot2(data_county)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:630: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

Wall time: 25 s

In [61]:
temp2[temp1 != temp2]

          beg_ltd_out_all_other                                        \
year                       1967        1970         1971 1972    1973
id
11001001                    NaN         NaN          NaN  NaN     NaN
11002002                    NaN         NaN          NaN  NaN     NaN
11003003                    NaN   71.333333   142.666667  NaN   193.2
11004004                    NaN         NaN          NaN  NaN     0.0
11005005                    NaN         NaN          NaN  NaN     NaN
11006006                    NaN  887.000000  1774.000000  NaN  2661.0
11007007                    NaN         NaN          NaN  NaN     0.0
11008008                    NaN         NaN          NaN  NaN     NaN
11009009                    NaN   16.666667    33.333333  NaN   140.0
11010010                    NaN         NaN          NaN  NaN   110.0
11011011                    NaN  175.000000   350.000000  NaN   432.0
11012012                    NaN         NaN          NaN  NaN     NaN
11013013                    NaN         NaN          NaN  NaN     NaN
11014014                    NaN   46.666667    93.333333  NaN   112.0
11015015                    NaN  118.666667   237.333333  NaN   281.0
11016016                    NaN   21.000000    42.000000  NaN    50.4
11017017                    NaN         NaN          NaN  NaN     NaN
11018018                    NaN   73.333333   146.666667  NaN   220.0
11019019                    NaN  425.666667   851.333333  NaN  1197.6
11020020                    NaN         NaN          NaN  NaN     NaN
11021021                    NaN         NaN          NaN  NaN     0.0
11022022                    NaN         NaN          NaN  NaN     NaN
11023023                    NaN         NaN          NaN  NaN     0.0
11024024                    NaN         NaN          NaN  NaN     NaN
11025025                    NaN  247.333333   494.666667  NaN   738.6
11026026                    NaN  198.333333   396.666667  NaN   476.0
11027027                    NaN         NaN          NaN  NaN     NaN
11028028                    NaN         NaN          NaN  NaN     NaN
11029029                    NaN         NaN          NaN  NaN     NaN
11030030                    NaN         NaN          NaN  NaN     NaN
...                         ...         ...          ...  ...     ...
501066066                   NaN         NaN          NaN  NaN     NaN
501067067                   NaN         NaN          NaN  NaN     NaN
501068068                   NaN         NaN          NaN  NaN     NaN
501069069                   NaN         NaN          NaN  NaN     NaN
501070070                   NaN         NaN          NaN  NaN     NaN
501071071                   NaN         NaN          NaN  NaN     NaN
501072072                   NaN         NaN          NaN  NaN     NaN
511001001                   NaN         NaN          NaN  NaN     NaN
511002002                   NaN         NaN          NaN  NaN     NaN
511003003                   NaN         NaN          NaN  NaN     NaN
511004004                   NaN         NaN          NaN  NaN     NaN
511005005                   NaN         NaN          NaN  NaN     NaN
511006006                   NaN         NaN          NaN  NaN     NaN
511007007                   NaN         NaN          NaN  NaN     NaN
511008008                   NaN         NaN          NaN  NaN     NaN
511009009                   NaN         NaN          NaN  NaN     NaN
511010010                   NaN   40.000000    80.000000  NaN   110.0
511011011                   NaN         NaN          NaN  NaN     NaN
511012012                   NaN         NaN          NaN  NaN     NaN
511013013                   NaN         NaN          NaN  NaN     NaN
511014014                   NaN   42.000000    84.000000  NaN    95.5
511015015                   NaN         NaN          NaN  NaN     NaN
511016016                   NaN         NaN          NaN  NaN     NaN
511017017                   NaN         NaN          NaN  NaN     NaN
511018018                   NaN         NaN          NaN  NaN     0.0
511019019                   NaN         NaN          NaN  NaN     NaN
511020020                   NaN         NaN          NaN  NaN     NaN
511021021                   NaN         NaN          NaN  NaN     NaN
511022022                   NaN         NaN          NaN  NaN     NaN
511023023                   NaN         NaN          NaN  NaN     NaN

                                                 ...  welf_nec_total_expend  \
year          1974    1975     1976 1977    1978 ...                   2007
id                                               ...
11001001   1642.75  1343.5  1044.25  NaN   707.5 ...                    NaN
11002002       NaN     NaN      NaN  NaN     NaN ...                    NaN
11003003    172.40   151.6   130.80  NaN    88.0 ...                    NaN
11004004      0.00     0.0     0.00  NaN   100.0 ...                    NaN
11005005     65.25    43.5    21.75  NaN    20.0 ...                    NaN
11006006       NaN     NaN      NaN  NaN     NaN ...                    NaN
11007007      0.00     0.0     0.00  NaN     0.0 ...                    NaN
11008008       NaN     NaN      NaN  NaN     NaN ...                    NaN
11009009    230.00   320.0   410.00  NaN   500.0 ...                    NaN
11010010    220.00   330.0   440.00  NaN   500.0 ...                    NaN
11011011       NaN     NaN      NaN  NaN     NaN ...                    NaN
11012012    171.00   160.0   149.00  NaN   119.0 ...                    NaN
11013013    460.00   360.0   260.00  NaN   180.0 ...                    NaN
11014014     84.00    56.0    28.00  NaN     0.0 ...                    NaN
11015015       NaN     NaN      NaN  NaN     NaN ...                    NaN
11016016     37.80    25.2    12.60  NaN   167.5 ...                    NaN
11017017   1380.00   989.0   598.00  NaN   207.0 ...                    NaN
11018018       NaN     NaN      NaN  NaN     NaN ...                    NaN
11019019   1118.20  1038.8   959.40  NaN   724.5 ...                    NaN
11020020    932.50  1064.0  1195.50  NaN  1334.0 ...                    NaN
11021021      0.00     0.0     0.00  NaN    57.5 ...                    NaN
11022022       NaN     NaN      NaN  NaN     NaN ...                    NaN
11023023       NaN     NaN      NaN  NaN     NaN ...                    NaN
11024024       NaN     NaN      NaN  NaN     NaN ...                    NaN
11025025    735.20   731.8   728.40  NaN   985.0 ...                    NaN
11026026    357.00   238.0   119.00  NaN    48.5 ...                    NaN
11027027    534.75   521.5   508.25  NaN   447.0 ...                    NaN
11028028       NaN     NaN      NaN  NaN     NaN ...                    NaN
11029029    482.75   534.5   586.25  NaN   514.0 ...                    NaN
11030030    408.75   503.5   598.25  NaN   377.5 ...                    NaN
...            ...     ...      ...  ...     ... ...                    ...
501066066      NaN     NaN      NaN  NaN     NaN ...                    NaN
501067067      NaN     NaN      NaN  NaN     NaN ...                    NaN
501068068      NaN     NaN      NaN  NaN     NaN ...                    NaN
501069069      NaN     NaN      NaN  NaN     NaN ...                    NaN
501070070      NaN     NaN      NaN  NaN     NaN ...                    NaN
501071071      NaN     NaN      NaN  NaN     NaN ...                    NaN
501072072      NaN     NaN      NaN  NaN     NaN ...                    NaN
511001001      NaN     NaN      NaN  NaN     NaN ...                    NaN
511002002      NaN     NaN      NaN  NaN     NaN ...                    NaN
511003003      NaN     NaN      NaN  NaN     NaN ...                    NaN
511004004      NaN     NaN      NaN  NaN     NaN ...                    NaN
511005005      NaN     NaN      NaN  NaN     NaN ...                    NaN
511006006      NaN     NaN      NaN  NaN     NaN ...                    NaN
511007007      NaN     NaN      NaN  NaN     NaN ...                    NaN
511008008      NaN     NaN      NaN  NaN     NaN ...                    NaN
511009009      NaN     NaN      NaN  NaN     NaN ...                    NaN
511010010      NaN     NaN      NaN  NaN     NaN ...                    NaN
511011011      NaN     NaN      NaN  NaN     NaN ...                    NaN
511012012      NaN     NaN      NaN  NaN     NaN ...                    NaN
511013013      NaN     NaN      NaN  NaN     NaN ...                    NaN
511014014      NaN     NaN      NaN  NaN     NaN ...                    NaN
511015015      NaN     NaN      NaN  NaN     NaN ...                    NaN
511016016      NaN     NaN      NaN  NaN     NaN ...                    NaN
511017017      NaN     NaN      NaN  NaN     NaN ...                    NaN
511018018      NaN     NaN      NaN  NaN     NaN ...                    NaN
511019019      NaN     NaN      NaN  NaN     NaN ...                    NaN
511020020      NaN     NaN      NaN  NaN     NaN ...                    NaN
511021021      NaN     NaN      NaN  NaN     NaN ...                    NaN
511022022      NaN     NaN      NaN  NaN     NaN ...                    NaN
511023023      NaN     NaN      NaN  NaN     NaN ...                    NaN

                                                                        \
year         2008     2009    2010     2011 2012     2013         2014
id
11001001      NaN      NaN     NaN      NaN  NaN      NaN   410.000000
11002002      NaN      NaN     NaN      NaN  NaN      NaN          NaN
11003003      0.0     0.00     0.0     0.00  NaN     0.00     0.000000
11004004      0.0      NaN     NaN      NaN  NaN      NaN     0.000000
11005005      NaN   297.00   306.0   315.00  NaN   328.50          NaN
11006006    245.5      NaN     NaN      NaN  NaN      NaN   146.000000
11007007      7.5      NaN     NaN      NaN  NaN      NaN     3.333333
11008008      NaN      NaN     NaN      NaN  NaN      NaN          NaN
11009009      0.0     0.00     0.0     0.00  NaN     0.00     0.000000
11010010     93.0    71.00    49.0    27.00  NaN    40.00          NaN
11011011      NaN      NaN     NaN      NaN  NaN      NaN   232.666667
11012012      1.0     1.00     1.0     1.00  NaN     0.75     0.500000
11013013      NaN     0.00     0.0     0.00  NaN     0.00     0.000000
11014014     24.0      NaN     NaN      NaN  NaN      NaN    17.333333
11015015      1.0     2.00     3.0     4.00  NaN     5.00          NaN
11016016      NaN      NaN     NaN      NaN  NaN      NaN   188.666667
11017017      NaN      NaN     NaN      NaN  NaN      NaN          NaN
11018018      NaN  1346.75   968.5   590.25  NaN   215.50          NaN
11019019     46.0    47.00    48.0    49.00  NaN    37.50    25.000000
11020020    140.8   143.60   146.4   149.20  NaN   114.00    76.000000
11021021     89.6    67.20    44.8    22.40  NaN     0.00     0.000000
11022022      NaN      NaN     NaN      NaN  NaN      NaN          NaN
11023023      NaN   309.75   278.5   247.25  NaN   195.50          NaN
11024024      NaN      NaN     NaN      NaN  NaN      NaN          NaN
11025025      NaN   172.00   344.0   516.00  NaN   696.00          NaN
11026026     22.5      NaN     NaN      NaN  NaN      NaN    22.000000
11027027      NaN      NaN     NaN      NaN  NaN      NaN   350.000000
11028028      NaN      NaN     NaN      NaN  NaN      NaN          NaN
11029029      0.0     0.00     0.0     0.00  NaN     0.00     0.000000
11030030      0.0     0.00     0.0     0.00  NaN     0.50          NaN
...           ...      ...     ...      ...  ...      ...          ...
501066066  8639.0      NaN     NaN      NaN  NaN      NaN          NaN
501067067     NaN      NaN     NaN      NaN  NaN      NaN          NaN
501068068     NaN      NaN     NaN      NaN  NaN      NaN          NaN
501069069     NaN      NaN     NaN      NaN  NaN      NaN          NaN
501070070  9470.0  9075.00  8680.0  8285.00  NaN  5917.50  3945.000000
501071071     NaN      NaN     NaN      NaN  NaN      NaN          NaN
501072072     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511001001     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511002002     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511003003     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511004004     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511005005     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511006006     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511007007     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511008008     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511009009     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511010010     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511011011     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511012012     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511013013     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511014014     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511015015     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511016016     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511017017     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511018018     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511019019     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511020020     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511021021     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511022022     NaN      NaN     NaN      NaN  NaN      NaN          NaN
511023023     NaN      NaN     NaN      NaN  NaN      NaN          NaN


year              2015 2016
id
11001001    205.000000  NaN
11002002           NaN  NaN
11003003      0.000000  NaN
11004004      0.000000  NaN
11005005           NaN  NaN
11006006     73.000000  NaN
11007007      1.666667  NaN
11008008           NaN  NaN
11009009      0.000000  NaN
11010010           NaN  NaN
11011011    116.333333  NaN
11012012      0.250000  NaN
11013013      0.000000  NaN
11014014      8.666667  NaN
11015015           NaN  NaN
11016016     94.333333  NaN
11017017           NaN  NaN
11018018           NaN  NaN
11019019     12.500000  NaN
11020020     38.000000  NaN
11021021      0.000000  NaN
11022022           NaN  NaN
11023023           NaN  NaN
11024024           NaN  NaN
11025025           NaN  NaN
11026026     11.000000  NaN
11027027    175.000000  NaN
11028028           NaN  NaN
11029029      0.000000  NaN
11030030           NaN  NaN
...                ...  ...
501066066          NaN  NaN
501067067          NaN  NaN
501068068          NaN  NaN
501069069          NaN  NaN
501070070  1972.500000  NaN
501071071          NaN  NaN
501072072          NaN  NaN
511001001          NaN  NaN
511002002          NaN  NaN
511003003          NaN  NaN
511004004          NaN  NaN
511005005          NaN  NaN
511006006          NaN  NaN
511007007          NaN  NaN
511008008          NaN  NaN
511009009          NaN  NaN
511010010          NaN  NaN
511011011          NaN  NaN
511012012          NaN  NaN
511013013          NaN  NaN
511014014          NaN  NaN
511015015          NaN  NaN
511016016          NaN  NaN
511017017          NaN  NaN
511018018          NaN  NaN
511019019          NaN  NaN
511020020          NaN  NaN
511021021          NaN  NaN
511022022          NaN  NaN
511023023          NaN  NaN

[3060 rows x 5760 columns]

In [65]:
mapping_id_name_county.to_csv('mapping_id_name_county.csv')